
.vscode/settings.json
TTTPlayer.sln
TTTPlayer/bin/Debug/net8.0/TTTPlayer
TTTPlayer/bin/Debug/net8.0/TTTPlayer.deps.json
TTTPlayer/bin/Debug/net8.0/TTTPlayer.dll
TTTPlayer/bin/Debug/net8.0/TTTPlayer.pdb
TTTPlayer/bin/Debug/net8.0/TTTPlayer.runtimeconfig.json
TTTPlayer/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
TTTPlayer/obj/Debug/net8.0/apphost
TTTPlayer/obj/Debug/net8.0/ref/TTTPlayer.dll
TTTPlayer/obj/Debug/net8.0/refint/TTTPlayer.dll
TTTPlayer/obj/Debug/net8.0/TTTPlayer.AssemblyInfo.cs
TTTPlayer/obj/Debug/net8.0/TTTPlayer.AssemblyInfoInputs.cache
TTTPlayer/obj/Debug/net8.0/TTTPlayer.assets.cache
TTTPlayer/obj/Debug/net8.0/TTTPlayer.csproj.CoreCompileInputs.cache
TTTPlayer/obj/Debug/net8.0/TTTPlayer.csproj.FileListAbsolute.txt
TTTPlayer/obj/Debug/net8.0/TTTPlayer.dll
TTTPlayer/obj/Debug/net8.0/TTTPlayer.GeneratedMSBuildEditorConfig.editorconfig
TTTPlayer/obj/Debug/net8.0/TTTPlayer.genruntimeconfig.cache
TTTPlayer/obj/Debug/net8.0/TTTPlayer.GlobalUsings.g.cs
TTTPlayer/obj/Debug/net8.0/TTTPlayer.pdb
TTTPlayer/obj/project.assets.json
TTTPlayer/obj/project.nuget.cache
TTTPlayer/obj/TTTPlayer.csproj.nuget.dgspec.json
TTTPlayer/obj/TTTPlayer.csproj.nuget.g.props
TTTPlayer/obj/TTTPlayer.csproj.nuget.g.targets
TTTPlayer/TTTPlayer.csproj
TTTPlayer/obj/Debug/net8.0/TTTPlayer.sourcelink.json
